[Unit]
Description=MLC Edge Proxy
After=network.target

[Service]
Type=simple
# Standardmäßig wird der Service als system-user "mlc-edge-proxy" ausgeführt
User=mlc-edge-proxy
# Das Arbeitsverzeichnis ist das State-Verzeichnis, hierhin wird die BadgerDB unter ./data geschrieben
WorkingDirectory=/var/lib/mlc-edge-proxy
# Konfiguration wird explizit aus /etc/mlc-edge-proxy geladen
ExecStart=/usr/bin/mlc-edge-proxy -config /etc/mlc-edge-proxy/config.yaml
Restart=on-failure
RestartSec=5
# Optional: Umgebungsvariablen hier setzen
# Environment="GIN_MODE=release"

[Install]
WantedBy=multi-user.target
